<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    Content: <span th:text="${todo.taskname}"></span><br/>
    Posted Date: <span th:text="${todo.duedate}"></span><br/>
    Sent By: <span th:text="${todo.priority}"></span><br/>

<a th:href="@{/delete/{id}(id=${todo.id})}">Delete this message</a><br />

    <a href="/">Show all Messages</a><br/>
<a href="/add">Write a New Message</a><br/>
</body>
</html>